{% extends 'base.html' %}
{% block content %}
<h1>Product List</h1>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Status</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.get_category_display }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.get_status_display }}</td>
            <td>{{ product.date_created }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

